body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #232323;
    color: #fff;
}
.title-box {
    display: flex;
    padding: 50px;
}
.letter {
    font-size: 40px;
    padding: 10px;
}
.letter3 {
    width: 20px;
}
.line {
    width: 500px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
}