

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #232323;
    color: #fff;
}
.title-box {
    padding-left: 100px;
    display: flex;
    align-items: center;
    width: 100%;
}
.letter {
    font-size: 40px;
    padding: 10px;
    color: transparent;
}
.letter.active {
    color: #fff;
}

.line-cont {
    width: 570px;
    position: relative;
}
.line {
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: -150px;
    left: -570px;
}
.item-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-box1 {
    color: #fff;
    background-color: red;
    transform: scale(0.001);
    transition: .3s;
    width: 50px;
    height: 50px;
}
.item-box1.active {

}
.item-box2 {
    width: 50px;
    height: 50px;
    background-color: green;
}
